.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, body, #map-page, #map-canvas { 
  height: 100%; 
  margin: 0; 
  padding: 0;
}

/* Styling for live search/filter */
.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#filter-box {
  background-color: #fff;
  padding: 0 11px 0 13px;
  width: 100%;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
  -webkit-appearance: none;
  border-radius: 0;
}

#filter-box:focus {
  border-color: #dd9740;
  margin-left: -1px;
  padding-left: 14px;
}

#filter {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 300px;
  //max-width: 500px;
  text-align: center;
}

#list {
  font-family: Arial, Helvetica, sans-serif;
  //position: absolute;
  //right: 5px;
  //top: 50%;
  //margin-top: -195px;
  height: 32px;
  width: 100%;
  //padding: 5px;
  //z-index: 5;
  //border: 1px solid #999;
  background-color: #f1f1f1;
  margin: 0 0 0 0;
  display: table;
}

#results {
  vertical-align: middle;
  display: table-cell;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 321px;
  width: 100%;
  overflow-y: scroll;
}

li {
  background-color: #f1f1f1;
  padding: 10px;
  //text-overflow: ellipsis;
  //white-space: nowrap;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

li:nth-child(odd) {
  background-color: #fcfcfc;
}

/*END STYLING for live search/filter */

#info-content {
  height: 200px;
  width: 200px;
  overflow-y: scroll;
}

#sorry {
  width: 100%;
}

@media screen and (min-width: 768px){
  #filter {
    width: 400px;
  }
}
